.rbc-calendar {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 10px;
}

.rbc-today {
  background-color: #fcedfe !important; /* Malva pastel para el día actual */
}

.rbc-event {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

